@tailwind base;
@tailwind components;
@tailwind utilities;

/* Standard css start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Root styles */
:root {
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Custom utilities */
/* -------------------------------------------------------------- */

.custom-flex-col {
  display: flex;
  flex-direction: column;
}

.custom-flex-col > * {
  width: 100%;
}

.custom-truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-truncated {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

/* -------------------------------------------------------------- */

/* Overwriting default behaviour */
/* -------------------------------------------------------------- */

/* Hide the default eye icon in password fields */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spin buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------------------------------------------------------- */

.nav-button:hover {
  background-color: #0033c4;
}

.nav-button:hover p {
  color: white;
}

.nav-button:hover path {
  stroke: white;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  @apply bg-brand-5;
}

tbody tr:nth-child(2n + 1) {
  @apply bg-brand-1;
}

th {
  white-space: nowrap;
}

th,
td {
  height: 76px;
  text-transform: capitalize;
  text-align: start;
  padding: 12px 16px;

  @apply text-text-primary text-base font-medium;
}

td p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* @apply custom-truncated; */
}
